.grid-middle {
	@include make-sm-column(6);
}

.grid-bottom {
	@include make-sm-column(4);
}

.grid {
	padding-left: 0px;
	padding-top: 15px;
}

.box-container {
	position: relative;
}

.main-image {
	padding: 0px 15px;
}

.box-heading {
	position: absolute;
	top: calc(50% - 22px);
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	width: 100%;
	color: #fff;

	h2 {
		margin: 0px;
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: #fff;
		letter-spacing: normal;
	}
}

.grid a:hover img {
	opacity: 0.5;
	transition: all .5s ease;
	filter: blur(3px);
}


//What we Do

.home-about-us {
	margin-top: 50px;
	padding-right: 15px;

	p {
		text-align: center;
		margin: 0 40px 30px;
		line-height: 2.7em;
		font-size: 16px;
	}
}

h3.sub-head {
	text-align: center;
	font-family: 'Pacifico', sans-serif;
	letter-spacing: 2px;
	font-size: 26px;
	line-height: 30px;
	margin: 30px;
}

.sub-head {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

.sub-head:before, 
.sub-head:after {
  flex-grow: 1;
  height: 1px;
  content: '\a0';
  background-color: #ddd;
  position: relative;
  top: 0.5em;
}

.sub-head:before {
  margin-right:10px;
}

.sub-head:after {
  margin-left:10px;
}