.review-order {
	@include make-md-column(6);
}

.select2-results__option {
	color: #333;
}

/*Paymentsense */

.woocommerce-checkout #payment {
	@include make-xs-column(12);
	background: none;
	border-radius: 0px;

	div.payment_box {
		background: none;
		color: #fff;

		input.input-text, textarea, select {
			margin: .5em 0;
			font-size: 1.3em;
		}
	}
}